# core dependencies
APScheduler==3.0.1
argparse==1.2.2
mock==1.0.1
pytz==2014.10
PyYAML==5.4
requests==2.5.0

# webserver
flask

# camera
imutils
numpy
picamera[array]

# NLP
zhon==1.1.5

# baidu AI
# or sudo pip install git+https://github.com/Baidu-AIP/python-sdk.git@master to get last sdk
baidu-aip

# process
multiprocessing==2.6.2.1
psutil

cmuclmtk==0.1.5
beautifulsoup4==4.3.2
